@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400&family=Bebas+Neue&display=swap');
:root {
    --primary-color: #273A41;
    --secondary-color: #BF372A;
    --accent1-color: #D96E30;
    --accent2-color: #F4EDCC;

    --heading-font: 'Alegreya Sans SC', sans serif;
    --paragraph-font: 'Bebas Neue', sans serif;

    --nav-background-color: #F4EDCC;
    --nav-link-color: #D96E30;
    --nav-hover-link-color: #D96E30;
    --nav-hover-background-color: #F4EDCC;
}
body{
    display: inline-flexbox;
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;
    padding-bottom: 20px;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
main {
    padding-top: 20px;
}
.header {
    font-size: 1.2rem;
    display: inline-flex;
    margin-top: 5rem;
    margin-left: 5rem;
}
.header a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin-left: 4.5rem;
}
.header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    margin-bottom: 3.5rem;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.hero {
height: auto;
position: relative;
text-align: left;
}
.hero img {
    width: 100%;
}
.hero h1{
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.hero article {
    position: absolute;
    top: 300px;
    background-color: rgba(159, 152, 236, 0.5);
}
.hero2 img {
    float: right;
    width: 150px;
    margin-top: 3rem;
    margin-right: 3rem;
}
.hero2 p {
    padding: 25px;
    display: flex;
}
.adventure h3, img {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    text-align: left;
    left: 0px;
}
footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.sociallinks img {
    display: inline-flex;
}